<h1>Admin Dashboard</h1>

<p>Number of products in store: <%= @product_count %></p>
<p>Number of product categories: <%= @category_count %></p>
<%= link_to "Manage Products", "admin/products" , class: 'btn btn-lg btn-primary' %>
